:root.theme-dark {
  --page-bg-color: #000028;
  --page-bg-image: url("../images/cover-image-dark.png");
  --corporate-color: #ff0070;
  --accent-color: #db00ff;
  --title-with-bg-text-color: #000028;
  --specific-elements-color: var(--corporate-color);
  --info-text-color: #f1b2ce;
  --button-hover-border-color: #ff007066;
  --button-focus-outline-color: var(--corporate-color);
  --link-hover-border-color: var(--info-text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: #000028;
    --page-bg-image: url("../images/cover-image-dark.png");
    --corporate-color: #ff0070;
    --accent-color: #db00ff;
    --title-with-bg-text-color: #000028;
    --specific-elements-color: var(--corporate-color);
    --info-text-color: #f1b2ce;
    --button-hover-border-color: #ff007066;
    --button-focus-outline-color: var(--corporate-color);
    --link-hover-border-color: var(--info-text-color);
  }
}
