:root.theme-light {
  --page-bg-color: #fff1f7;
  --page-bg-image: url("../images/cover-image-light.png");
  --corporate-color: #ff8dcb;
  --accent-color: #ffc2e6;
  --specific-elements-color: #353430;
  --title-with-bg-text-color: var(--specific-elements-color);
  --info-text-color: var(--specific-elements-color);
  --button-hover-border-color: #32312d66;
  --button-focus-outline-color: var(--specific-elements-color);
  --link-hover-border-color: var(--specific-elements-color);
}
@media (prefers-color-scheme: light) {
  :root {
    --page-bg-color: #fff1f7;
    --page-bg-image: url("../images/cover-image-light.png");
    --corporate-color: #ff8dcb;
    --accent-color: #ffc2e6;
    --specific-elements-color: #353430;
    --title-with-bg-text-color: var(--specific-elements-color);
    --info-text-color: var(--specific-elements-color);
    --button-hover-border-color: #32312d66;
    --button-focus-outline-color: var(--specific-elements-color);
    --link-hover-border-color: var(--specific-elements-color);
  }
  .header__decoration {
    display: none;
  }
}
.theme-light .header__decoration {
  display: none;
}
