.page * {
  font-family: "IBM Plex mono", sans-serif;
  font-size: var(--base-text-font-size);
}
.page {
  background-image: var(--page-bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--page-bg-color);
  padding: var(--page-padding);
}
.decorated-zone {
  position: relative;
}
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
}
.decorated-zone::before {
  border-right: 1px solid var(--specific-elements-color);
  border-top: 1px solid var(--specific-elements-color);
  top: 10px;
  right: 0;
}
.decorated-zone::after {
  border-left: 1px solid var(--specific-elements-color);
  border-bottom: 1px solid var(--specific-elements-color);
  bottom: 11px;
  left: 0;
}
.header {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr auto;
}
.header__decoration {
  position: absolute;
  top: 10px;
  right: 9px;
  color: var(--corporate-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 25px;
}
.header__decoration::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--corporate-color);
  border-radius: 100%;
  box-shadow: 0 0 20px 5px var(--corporate-color);
}
.header__theme-menu {
  grid-column: var(--header-theme-menu-grid-column);
  justify-self: var(--header-theme-menu-justify-self);
  margin-top: var(--header-theme-menu-margin-top);
  grid-row: var(--header-theme-menu-grid-row);
}
.header__theme-menu-list {
  display: flex;
  flex-direction: var(--header-theme-menu-list-flex-direction);
  gap: var(--header-theme-menu-list-gap);
}
.header__theme-menu-button {
  color: var(--specific-elements-color);
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: lowercase;
  padding: 0 12px;
  cursor: pointer;
}
.header__theme-menu-button_active {
  outline: 1px solid var(--specific-elements-color);
}
.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-border-color);
}
.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--button-focus-outline-color);
}
.header__title {
  margin-top: var(--header-title-margin-top);
  color: var(--accent-color);
  font-weight: 700;
  font-size: var(--header-title-font-size);
  grid-column: var(--header-title-grid-column);
  line-height: var(--header-title-line-height);
  text-shadow: 4px 4px 0 var(--corporate-color);
  margin-left: var(--header-title-margin-left);
}
.header__text {
  background-color: var(--corporate-color);
  font-weight: 700;
  grid-column: var(--header-text-grid-column);
  margin-top: var(--header-text-margin-top);
  height: max-content;
  color: var(--title-with-bg-text-color);
}
.main {
  margin-top: var(--main-margin-top);
  display: grid;
  gap: var(--main-gap);
}
.info {
  display: grid;
  gap: var(--info-gap);
}
.info__title {
  color: var(--specific-elements-color);
  line-height: var(--info-text-content-line-height);
  font-weight: 700;
}
.info__content {
  display: grid;
  gap: var(--info-content-gap);
}
.info__sub-title {
  background-color: var(--corporate-color);
  color: var(--title-with-bg-text-color);
}
.info__thin-sub-title {
  font-weight: 400;
}
.info__unique-sub-title {
  height: max-content;
}
.info:has(.info__unique-sub-title) {
  grid-template-rows: var(--info-with-unique-sub-title-grid-template-rows);
}
.info__text {
  color: var(--info-text-color);
  line-height: var(--info-text-content-line-height);
}
.info__link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--corporate-color);
}
.info__link:hover {
  border-bottom: 1px solid var(--link-hover-border-color);
}
.info__link:focus {
  outline: 1px solid var(--link-hover-border-color);
}
.info:has(.info__galery) {
  gap: var(--info-with-galery-gap);
}
.info__galery {
  display: grid;
  grid-template-columns: var(--info-galery-grid-template-columns);
  gap: var(--info-galery-gap);
}
.info__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.info__image:nth-child(1),
.info__image:nth-child(5) {
  grid-column: var(--info-image-grid-column);
}
.info__image:nth-child(2),
.info__image:nth-child(3) {
  grid-row: var(--info-image-grid-row);
}
.info__base-grid-layout {
  grid-template-columns: var(--info-base-grid-layout-grid-template-columns);
  gap: var(--info-base-grid-layout-gap);
  grid-template-rows: var(--info-base-grid-layout-grid-template-rows);
}
.info__base-grid-layout .info__content {
  grid-column: var(--info-base-grid-layout-info-content-grid-column);
  justify-self: var(--info-base-grid-layout-info-content-justify-self);
}
.info__specific-grid-layout {
  grid-template-columns: var(--info-specific-grid-layout-grid-template-columns);
  grid-template-rows: var(--info-specific-grid-layout-grid-template-rows);
  align-items: var(--info-specific-grid-layout-align-items);
}
.info__specific-grid-layout .info__title {
  grid-column: var(--info-specific-grid-layout-info-title-grid-column);
  width: var(--info-specific-grid-layout-info-title-width);
}
.info__specific-grid-layout .info__content {
  grid-column: var(--info-specific-grid-layout-info-content-grid-column);
}
.footer {
  margin-top: var(--footer-margin-top);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__title {
  color: var(--accent-color);
  text-shadow: 2px 2px var(--corporate-color);
  font-size: var(--footer-title-font-size);
  line-height: var(--footer-title-line-height);
  justify-self: center;
  align-self: center;
}

@media (min-width: 768px) {
  .header__decoration {
    top: 20px;
  }
  .decorated-zone::before {
    top: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
  }
}
