.page * {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
}
.page {
  background-image: var(--page-bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--page-bg-color);
}
.decorated-zone {
  position: relative;
}
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}
.decorated-zone::before {
  border-right: 1px solid var(--specific-elements-color);
  border-top: 1px solid var(--specific-elements-color);
  top: var(--base-spacing);
  right: var(--base-spacing);
}
.decorated-zone::after {
  border-left: 1px solid var(--specific-elements-color);
  border-bottom: 1px solid var(--specific-elements-color);
  bottom: var(--base-spacing);
  left: var(--base-spacing);
}
.header {
  min-height: var(--accent-block-min-height);
  height: var(--accent-block-height);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  padding: var(--base-spacing);
}
.header__decoration {
  position: absolute;
  top: var(--base-spacing);
  right: calc(var(--base-spacing) + 9px);
  gap: 10px;
  color: var(--corporate-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  line-height: 25px;
}
.header__decoration::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--corporate-color);
  box-shadow: 0 0 4px 2px var(--corporate-color);
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--specific-elements-color);
  padding: 2px 12px 4px 13px;
  text-transform: lowercase;
  line-height: 18px;
  cursor: pointer;
}
.header__theme-menu-button_active {
  border: 1px solid var(--specific-elements-color);
}
.header__theme-menu-button:hover {
  border-color: var(--button-hover-border-color);
}
.header__theme-menu-button:focus {
  outline: none;
  border-bottom-color: var(--button-focus-outline-color);
}
.header__title {
  font-size: var(--accent-text-base-font-size);
  font-weight: var(--bold-text-base-font-weight);
  line-height: var(--accent-text-line-height);
  justify-self: start;
  color: var(--accent-color);
  text-shadow: var(--accent-text-shadow);
}
.header__text {
  background-color: var(--corporate-color);
  font-weight: var(--bold-text-base-font-weight);
  line-height: var(--base-line-height);
  color: var(--title-with-bg-text-color);
}
.main {
  padding: 0 var(--base-spacing);
  margin-top: var(--margin-between-blocks);
  display: grid;
  gap: 49.6px;
}
.info {
  display: grid;
  gap: var(--content-gap);
}
.info__base-grid-layout {
  gap: var(--info-base-grid-layout-gap);
}
.info__title {
  line-height: var(--base-line-height);
  font-weight: var(--bold-text-base-font-weight);
  color: var(--specific-elements-color);
}
.info__content-box {
  display: grid;
  gap: var(--content-gap);
}
.info__content-title {
  margin-bottom: 10px;
  line-height: var(--base-line-height);
  background-color: var(--corporate-color);
  font-weight: var(--bold-text-base-font-weight);
  color: var(--title-with-bg-text-color);
}
.info__text {
  line-height: var(--base-line-height);
  color: var(--info-text-color);
}
.info__link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--corporate-color);
}
.info__link:hover {
  border-bottom: 1px solid var(--link-hover-border-color);
}
.info__link:focus {
  outline: 1px solid var(--link-hover-border-color);
}
.info__sub-title {
  color: var(--title-with-bg-text-color);
  line-height: var(--base-line-height);
  background-color: var(--corporate-color);
  font-weight: var(--bold-text-base-font-weight);
}
.info__thin-title {
  font-weight: var(--base-font-weight);
}
.galery {
  display: grid;
  gap: var(--galery-gap);
}
.galery__title {
  line-height: var(--base-line-height);
  font-weight: var(--bold-text-base-font-weight);
  background-color: var(--corporate-color);
  color: var(--title-with-bg-text-color);
}
.galery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.footer {
  min-height: var(--accent-block-min-height);
  height: var(--accent-block-height);
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: var(--margin-between-blocks);
}
.footer__title {
  font-size: var(--accent-text-base-font-size);
  font-weight: var(--bold-text-base-font-weight);
  color: var(--accent-color);
  text-shadow: var(--accent-text-shadow);
  line-height: var(--accent-text-line-height);
}
@media (min-width: 768px) {
  .header__title {
    position: relative;
    inset-inline-start: calc(-1 * var(--base-spacing));
  }
  .header__text {
    width: 50%;
  }
  .main {
    gap: 80px;
  }
  .info {
    grid-template-columns: 1fr 2fr;
  }
  .info__specific-grid-layout {
    grid-template-columns: repeat(3, 1fr);
  }
  .info__specific-grid-layout .info__title {
    grid-column: 1/-1;
    width: calc((100% - var(--content-gap) * 2) / 3);
  }
  .info__specific-grid-layout .info__content-box {
    grid-column: 1/-1;
  }
  .galery {
    grid-template-columns: repeat(3, 1fr);
  }
  .galery__title {
    grid-column: 1/-1;
  }
  .galery__image:nth-of-type(1),
  .galery__image:nth-of-type(5) {
    grid-column: span 2;
  }
  .galery__image:nth-of-type(2),
  .galery__image:nth-of-type(3) {
    grid-row: span 2;
  }
}
@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: self-start;
    justify-self: center;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
  .info__specific-grid-layout .info__content-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--content-gap);
  }
}
