:root {
  --content-padding: 0 10px;
  --decoration-line-length: 25px;
  --base-text-font-size: 18px;
  --header-height: 98vh;
  --header-padding-top: 10px;
  --header__content-decorated-zone-after-bottom: 8px;
  --header__circle-diameter: 9px;
  --button-padding: 1.5px 13px;
  --header__theme-menu-grid-column: 2/3;
  --header__theme-menu-grid-row: auto;
  --header__theme-menu-justify-self: end;
  --header__theme-menu-margin-top: 63px;
  --header__theme-menu-list-flex-direction: column;
  --header__theme-menu-list-gap: 10px;
  --header__accent-text-margin-top: 63px;
  --header__accent-text-font-size: 116px;
  --header__accent-text-line-height: 83%;
  --header__accent-text-grid-column: 1/-1;
  --header__accent-text-margin-left: 0;
  --header__accent-text-word-spacing: normal;
  --header__title-grid-column: 1/-1;
  --header__title-margin-top: 55px;
  --main-margin-top: 42px;
  --main-gap: 50px;
  --info-gap: 20px;
  --info__text-content-line-height: 23.4px;
  --info__content-gap: 10px;
  --info-with-galery-gap: 12px;
  --info__galery-gap: 10px;
  --info__galery-grid-template-columns: 1fr;
  --info-with-unique-sub-title-grid-template-rows: auto;
  --info__image-grid-column: auto;
  --info__image-grid-row: auto;
  --grid-two-columns-grid-template-columns: auto;
  --grid-two-columns-grid-template-rows: auto;
  --grid-two-columns-gap: var(--info-gap);
  --grid-two-columns-info__content-grid-column: auto;
  --grid-two-columns-info__content-justify-self: auto;
  --grid-three-columns-grid-template-columns: auto;
  --grid-three-columns-grid-template-rows: auto;
  --grid-three-columns-info__content-grid-column: auto;
  --grid-three-columns-info__content-grid-row: auto;
  --grid-three-columns-align-items: normal;
  --footer-margin-top: 33px;
  --footer-height: 100vh;
  --footer__title-font-size: 116px;
  --footer__title-line-height: 83%;
  --footer__content-decorated-zone-before-top: 19px;
  --footer__content-decorated-zone-after-bottom: 3px;
}
@media (min-width: 768px) {
  :root {
    --content-padding: 0 20px;
    --header-padding-top: 20px;
    --header__theme-menu-margin-top: 167px;
    --header__accent-text-margin-top: 178px;
    --header__accent-text-word-spacing: 13px;
    --header__accent-text-margin-left: -18px;
    --header__title-grid-column: 2/3;
    --header__title-margin-top: 163px;
    --header__content-decorated-zone-after-bottom: 19px;
    --main-margin-top: 60px;
    --main-gap: 81px;
    --grid-two-columns-grid-template-columns: 236px 1fr;
    --grid-two-columns-info__content-grid-column: 2;
    --grid-two-columns-info__content-justify-self: end;
    --grid-three-columns-grid-template-columns: repeat(3, 1fr);
    --grid-three-columns-grid-template-rows: auto;
    --grid-three-columns-info__content-grid-column: span 3;
    --info-with-unique-sub-title-grid-template-rows: 23.2px;
    --info-with-galery-gap: 17px;
    --info__galery-grid-template-columns: repeat(
      3,
      minmax(230px, calc((100% - 40px) / 3))
    );
    --info__galery-gap: 20px;
    --info__image-grid-column: span 2;
    --info__image-grid-row: span 2;
    --footer-margin-top: 69px;
    --footer__content-decorated-zone-before-top: 12px;
    --footer__title-font-size: 120px;
  }
}
@media (min-width: 1024px) {
  :root {
    --header__theme-menu-list-flex-direction: row;
    --header__theme-menu-grid-row: 1;
    --header__theme-menu-grid-column: 1/-1;
    --header__theme-menu-margin-top: 0;
    --footer__title-font-size: 157px;
    --header__theme-menu-justify-self: center;
    --header__accent-text-margin-top: 272px;
    --header__accent-text-font-size: 157px;
    --header__accent-text-margin-left: -21px;
    --header__accent-text-word-spacing: 2px;
    --header__title-margin-top: 113px;
    --main-margin-top: 57px;
    --grid-two-columns-grid-template-columns: 314.96px 1fr;
    --grid-three-columns-grid-template-columns: repeat(3, 1fr);
    --grid-three-columns-align-items: start;
    --grid-three-columns-info__content-grid-column: span 1;
    --grid-three-columns-info__content-grid-row: 2;
    --footer__content-decorated-zone-after-bottom: 30px;
  }
}
