:root {
  --content-padding: 0 10px;
  --decoration-line-length: 25px;
  --base-text-font-size: 18px;
  --header-height: 98vh;
  --header-padding-top: 10px;
  --header__content-decorated-zone-after-bottom: 8px;
  --button-padding: 1.5px 13px;
  --header-theme-menu-grid-column: 2/3;
  --header-theme-menu-grid-row: auto;
  --header-theme-menu-justify-self: end;
  --header-theme-menu-margin-top: 63px;
  --header-theme-menu-list-flex-direction: column;
  --header-theme-menu-list-gap: 10px;
  --header-title-margin-top: 63px;
  --header-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-title-line-height: 83%;
  --header-title-grid-column: 1/-1;
  --header-title-margin-left: 0;
  --header-title-word-spacing: normal;
  --header-text-grid-column: 1/-1;
  --header-text-margin-top: 55px;
  --main-margin-top: 42px;
  --main-gap: 50px;
  --info-gap: 20px;
  --info-text-content-line-height: 23.4px;
  --info-content-gap: 10px;
  --info-with-galery-gap: 12px;
  --info-galery-gap: 10px;
  --info-galery-grid-template-columns: 1fr;
  --info-with-unique-sub-title-grid-template-rows: auto;
  --info-image-grid-column: auto;
  --info-image-grid-row: auto;
  --info-base-grid-layout-grid-template-columns: auto;
  --info-base-grid-layout-grid-template-rows: auto;
  --info-base-grid-layout-gap: var(--info-gap);
  --info-base-grid-layout-info__content-grid-column: auto;
  --info-base-grid-layout-info__content-justify-self: auto;
  --info-specific-grid-layout-grid-template-columns: auto;
  --info-specific-grid-layout-grid-template-rows: auto;
  --info-specific-grid-layout-info__content-grid-column: auto;
  --info-specific-grid-layout-info__content-grid-row: auto;
  --info-specific-grid-layout-align-items: normal;
  --footer-margin-top: 33px;
  --footer-height: 100vh;
  --footer-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-title-line-height: 83%;
  --footer-content-decorated-zone-before-top: 19px;
  --footer-content-decorated-zone-after-bottom: 3px;
}
@media (min-width: 768px) {
  :root {
    --content-padding: 0 20px;
    --header-padding-top: 20px;
    --header-theme-menu-margin-top: 167px;
    --header-title-margin-top: 178px;
    --header-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --header-title-word-spacing: 13px;
    --header-title-margin-left: -18px;
    --header-text-grid-column: 2/3;
    --header-text-margin-top: 163px;
    --header__content-decorated-zone-after-bottom: 19px;
    --main-margin-top: 60px;
    --main-gap: 81px;
    --info-base-grid-layout-grid-template-columns: 236px 1fr;
    --info-base-grid-layout-info__content-grid-column: 2;
    --info-base-grid-layout-info__content-justify-self: end;
    --info-specific-grid-layout-grid-template-columns: repeat(3, 1fr);
    --info-specific-grid-layout-grid-template-rows: auto;
    --info-specific-grid-layout-info__content-grid-column: span 3;
    --info-with-unique-sub-title-grid-template-rows: 23.2px;
    --info-with-galery-gap: 17px;
    --info-galery-grid-template-columns: repeat(
      3,
      minmax(230px, calc((100% - 40px) / 3))
    );
    --info-galery-gap: 20px;
    --info-image-grid-column: span 2;
    --info-image-grid-row: span 2;
    --footer-margin-top: 69px;
    --footer-content-decorated-zone-before-top: 12px;
    --footer-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
@media (min-width: 1024px) {
  :root {
    --header-theme-menu-list-flex-direction: row;
    --header-theme-menu-grid-row: 1;
    --header-theme-menu-grid-column: 1/-1;
    --header-theme-menu-margin-top: 0;
    --header-theme-menu-justify-self: center;
    --header-title-margin-top: 272px;
    --header-title-margin-left: -21px;
    --header-title-word-spacing: 2px;
    --header-text-margin-top: 113px;
    --main-margin-top: 57px;
    --info-base-grid-layout-grid-template-columns: 314.96px 1fr;
    --info-specific-grid-layout-grid-template-columns: repeat(3, 1fr);
    --info-specific-grid-layout-align-items: start;
    --info-specific-grid-layout-info__content-grid-column: span 1;
    --info-specific-grid-layout-info__content-grid-row: 2;
    --footer-content-decorated-zone-after-bottom: 30px;
  }
}
